body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.App {
   width: 300px;
   height: 400px;
}

.select-class{
  width: 100% !important;
  margin: 0 auto;
  height: 40px;
}